{{ define "main" }}
<h2>{{.Title}}</h2>

<p>{{ partial "breadcrumb.html" . }}</p>

<table>
  <tr>
    <th>build</th>
    <th>status</th>
    <th>duration (ms)</th>
    <th>rendered html (loc)</th>
  </tr>

{{ range .Data.Pages }}
  {{ .Render "duration_ms" }}

  <tr>
    <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
    {{ if isset .Params "result" }}
      <td>{{ if eq .Params.result 0 }}Success{{ else }}Error{{ end }}</td>
    {{ else }}
      <td>unknown</td>
    {{ end }}
    <td>{{ .Scratch.Get "duration_ms" }}</td>
    {{ if isset .Params "html_total_loc" }}
      <td>{{ .Params.html_total_loc }}</td>
    {{ else }}
      <td>unknown</td>
    {{ end }}
  </tr>
{{ end }}

</table>

{{ end }}
